@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.diamond {
  position: relative;
  left: 1px;
  top: 1px;
  background: #fff;
  height: 90px;
  text-align: center;
  width: 90px;
}
.diamond-background {
  background: #000;
  height: 92px;
  text-align: center;
  transform: rotate(45deg);
  width: 92px;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}
